*/node_modules/*
node_modules*
*/package-lock.json

*/.env
*/.env.development
*/.env.production
*/logs/*.log*
logs

/server/backup/*
/server/config/config.json
/server/static/*
/server/server.tar.gz

*.bkp
*.dtmp

tests

scdr.sh
ssdr.sh